{% extends 'citas/base.html' %}
  {% block content %}

      <div class="post">
        {% if cita.fecha_cita %}
          <div class="date">
            <p>Fecha de cita:</p> <h4>{{ cita.fecha_cita }}</h4>
          </div>
        {% endif %}
            <!--h1><a href="">{{ citreser.tipo_cita }}</a></h1-->
            <h1>{{ citas.tipo_cita }}</h1>
            <p>Nombre del paciente:</p> <h4>{{ cita.paciente }}</h4>
            <p>Edad del paciente:</p> <h4>{{ cita.edad }}</h4>
            <p>Descripción del malestar que lo aqueja:</p> <h4>{{ cita.descripcion_malestar}}</h4>
            <p>Lo atiende:</p> <h4>{{ cita.medico }}</h4>
            <p>Estado de cita:</p> <h4>{{ cita.realizada}}</h4>
            <p>{{ cita.text|linebreaks }}</p>
      </div>

  {% endblock %}
