<html>
        <head>
            <title>Clinica UVS</title>
        </head>
        <body>
            <div>
                <h1><a href="">Sitio de Clínica "Una Vita Sana"</a></h1>
                <h2>Cuida tu salud y vive feliz</h2>
                <h4>En esta página se muestran las citas del día</h4>
                <h6>Nota: tomar en cuenta la información que se proporciona</h6>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My first post</a></h2>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My second post</a></h2>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
            </div>
        </body>
    </html>
