<html>
        <head>
            <title>Clinica UVS</title>
        </head>
        <body>
            <div>
                <h1><a href="">Sitio de Clínica "Una Vita Sana"</a></h1>
                <h2>Cuida tu salud y vive feliz</h2>
                <h4>En esta página se muestran las citas del día</h4>
                <h6>Nota: tomar en cuenta la información que se proporciona</h6>
            </div>

            {% for citreser in citas %}
            <div>
                <p>Fecha de cita: {{ citreser.fecha_cita }}</p>
                <h1><a href="">{{ citreser.tipo_cita }}</a></h1>
                <p>Nombre del paciente: {{ citreser.paciente }}</p>
                <p>Edad del paciente: {{ citreser.edad }}</p>
                <p>Descripción del malestar que lo aqueja: {{ citreser..descripcion_malestar}}</p>
                <p>Lo atiende: {{ citreser.medico }}</p>
                <p>Estado de cita: {{ citreser.realizada }}</p>
                <p>{{ post.text|linebreaks }}</p>
            </div>
            {% endfor %}
            </div>


        </body>
    </html>
